<div class="container">
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <h2>SignUp</h2>
    <div class="form_container">
      <div class="img_preview_container">
        @if(imagePreviewLink != null){
        <img [src]="imagePreviewLink" alt="image preview" />
        }
      </div>
      <div class="input_container">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" type="text" />
          @if(regForm.get('userName')?.hasError('required')){
          <mat-error> Username is required. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>example&#64;gmail.com</mat-label>
          <input matInput formControlName="email" type="email" />

          @if(regForm.get('email')?.hasError('required')){
          <mat-error> Email is required. </mat-error>
          } @if (regForm.get('email')?.hasError('email')) {
          <mat-error> Please enter a valid email. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>

          @if(regForm.get('password')?.hasError('required')){
          <mat-error> Password is required. </mat-error>
          } @if (regForm.get('password')?.hasError('minLength')) {
          <mat-error> Password should be at least 8 characters. </mat-error>
          } @if(regForm.get('password')?.hasError('passwordUppercase')){
          <mat-error
            >Password must have at least one uppercase letter.</mat-error
          >
          } @if(regForm.get('password')?.hasError('passwordLowercase')){
          <mat-error
            >Password must have at least one lowercase letter.</mat-error
          >
          } @if(regForm.get('password')?.hasError('passwordNumber')){
          <mat-error>Password must have at least one number.</mat-error>
          } @if(regForm.get('password')?.hasError('passwordSpecial')){
          <mat-error
            >Password must have at least one special character.</mat-error
          >
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          @if(regForm.get('confirmPassword')?.hasError('required')){
          <mat-error> Confirm Password is required. </mat-error>
          } @if(regForm.get('confirmPassword')?.hasError('minLength')){
          <p>Confirm Password should be at least 8 characters.</p>
          } @if(regForm.get('confirmPassword')?.hasError('mustMatch')){
          <mat-error> Passwords do not match. </mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Button to Open the Modal -->
      <div>
        <button
          type="button"
          [innerHTML]="imagePreviewLink != null ? 'Edit Image' : 'Upload Image'"
          class="mb-3 mr-4 btn btn-primary bg-primary text-white"
          data-bs-toggle="modal"
          data-bs-target="#UPLOAD_PROFILE_IMAGE"
        ></button>

        <!-- The Modal -->
        <div class="modal" id="UPLOAD_PROFILE_IMAGE">
          <div class="modal-dialog custom-width">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h2 class="modal-title">Upload Profile Image</h2>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="file_input_container">
                  <mat-label class="mb-2">Upload Profile Image</mat-label>
                  <input
                    class="file_input form-control"
                    (change)="onFileSelect($event)"
                    type="file"
                  />
                </div>

                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [aspectRatio]="4 / 4"
                  [maintainAspectRatio]="true"
                  [resizeToHeight]="300"
                  format="jpeg"
                  (imageCropped)="cropImage($event)"
                  (imageLoaded)="loadImage()"
                  (cropperReady)="initCropper()"
                  (loadImageFailed)="loadImageFailed()"
                >
                </image-cropper>
              </div>

              <div class="col-md-3">
                @if(imagePreviewLink != null){
                <img [src]="imagePreviewLink" alt="image preview" />
                }
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-success"
                  data-bs-dismiss="modal"
                >
                  Upload
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      @if(signUpMessage$ | async){
      <h5 class="badge bg-info">
        {{ signUpMessage$ | async }}
      </h5>
      }

      <button
        mat-raised-button
        color="primary"
        [innerText]="(isSigningUp$ | async) ? 'Loading' : 'SignUp'"
        type="submit"
      >
        SignUp
      </button>
    </div>
    <h4>
      Already have an account?
      <span><a routerLink="/auth/login">Login</a></span>
    </h4>
  </form>
</div>
