<router-outlet />
<div class="dashboard">
  <h1 class="">Welcome!&nbsp; Kelly Please read me.</h1>
  <p>
    The page you are on is a static version of the dashboard.&nbsp;To view this
    dashboard in a gated environment, click the button below!
  </p>
  <div
    data-w-id="6bc66341-54ed-2b72-43b9-f981943f69a4"
    class="close-icon w-embed"
  >
    <img src="../../../assets/svg/course/search.svg" alt="" />
  </div>
</div>
<div class="dashboard">
  <div class="container">
    <div class="content-wrap">
      <div class="content-nav">
        <div class="form-block w-form">
          <form
            id="email-form"
            name="email-form"
            data-name="Email Form"
            method="get"
            class="form"
          >
            <input
              type="text"
              class="search w-input"
              maxlength="256"
              name="Search"
              data-name="Search"
              placeholder="Search anything..."
              id="Search"
            />
          </form>
        </div>
      </div>
      <div id="content" class="content">
        <div class="content-hero">
          <div class="heading-wrap">
            <h1>Learn New Skills</h1>
            <div class="hero-description">
              One Simple Price. Unlimited Skills
            </div>
          </div>
          <a routerLink="/course/courses" class="button w-inline-block"
            ><div class="w-embed">
              <img src="../../../assets/svg/course/explore-more.svg" alt="" />
            </div>
            <div class="button-text">Explore More</div></a
          >
          <button
            type="button"
            class="btn btn-success bg-accent"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
        <div id="cards-scroll" class="cards-wrap">
          @for(course of courses$ | async; track course.id){
          <div
            data-w-id="dba5cb3b-f27a-c4e7-dbae-71be22375845"
            style="border-color: rgb(234, 235, 239)"
            class="border-2 border-slate-200 w-fit h-fit rounded-md"
          >
            <div
              class="w-60 h-60 flex flex-col items-center justify-center gap-y-4"
            >
              <img
                [src]="course.image"
                loading="lazy"
                alt=""
                class="h-48 w-full mx-auto object-cover"
              />
              <div class="flex items-center justify-center gap-2 p-3">
                <div class="card-h !text-sm">
                  {{ course.description | truncate : 80 }}
                </div>
              </div>
            </div>
            <div
              style="color: rgb(0, 0, 0); background-color: rgb(236, 231, 254)"
              class="card-bot"
            >
              <a
                routerLink="/course/detail/{{ course.id }}"
                class="card-bot_text"
                >Learn More</a
              >
              <div
                class="info-icon w-embed flex items-center justify-center gap-x-2"
              >
                <img
                  src="../../../assets/svg/course/exclamation-mark.svg"
                  alt="!"
                />
                @if (isLoading$ | async) {

                <span class="spinner-border spinner-border-sm"></span>
                }@else {
                <div
                  (click)="likeCourse(course?.user?.userEmail!, course?.id!)"
                  class="card-description cursor-pointer"
                >
                  Likes {{ course.likes }}
                </div>
                }
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="content-flex">
        <div id="view_container" class="graph-wrap overflow-y-scroll">
          <ng-container *ngComponentOutlet="renderComponent" />
        </div>
        <div class="options-wrap">
          <div class="options-grid">
            <a
              (click)="getComponent(page.COURSES)"
              class="options-card w-inline-block"
            >
              <div class="w-embed">
                <img src="../../../assets/svg/course/course.svg" alt="" />
              </div>
              <div class="option-h">Courses</div></a
            ><a
              (click)="getComponent(page.FAV_COURSES)"
              class="options-card w-inline-block"
              ><div class="w-embed">
                <img src="../../../assets/svg/course/fav-course.svg" alt="" />
              </div>
              <div class="option-h">Favorites</div></a
            ><a routerLink="/course/courses" class="options-card w-inline-block"
              ><div class="w-embed">
                <img src="../../../assets/svg/course/explore.svg" alt="" />
              </div>
              <div class="option-h">Explore</div></a
            ><a
              (click)="getComponent(page.NOTIFICATIONS)"
              class="options-card w-inline-block"
              ><div class="w-embed">
                <img src="../../../assets/svg/course/notification.svg" alt="" />
              </div>
              <div class="option-h">Notifications</div></a
            ><a
              (click)="getComponent(page.CHART)"
              class="options-card w-inline-block"
              ><div class="w-embed">
                <ng-icon name="faChartBar" size="2rem" color="gray" />
              </div>
              <div class="option-h">Chart</div></a
            >
          </div>
          <a routerLink="/course/courses" class="button res-small w-button"
            >Kelly learn new things today</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
