<router-outlet />

<div
  class="bg-accent-dark top-0 left-0 bg-gradient-to-b to-accent bottom-0 leading-5 h-full w-full overflow-hidden"
>
  <div
    class="relative min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl"
  >
    <div class="flex justify-center self-center z-10">
      <div
        class="p-12 bg-white mx-auto rounded-3xl w-96 border-b-2 border-accent"
      >
        <div class="mb-7">
          <h3 class="font-semibold text-2xl text-gray-800">Sign In</h3>
          <p class="text-gray-400">
            Don't have an account?
            <a
              routerLink="/auth/signup"
              class="text-sm text-accent hover:text-accent-dark"
              >Sign Up</a
            >
          </p>
        </div>
        <div class="space-y-6">
          <div class="">
            <input
              class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-accent-light"
              type="email"
              placeholder="example@gmail.com"
            />
            @if(controlHasError('email', 'required')){
            <mat-error> Email is required. </mat-error>
            } @if(controlHasError('email', 'email')){
            <mat-error> Please enter a valid email. </mat-error>
            }
          </div>

          <div class="relative">
            <input
              placeholder="Password"
              [type]="hidePassword ? 'password' : 'text'"
              class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-accent"
            />
            <div
              class="flex items-center absolute inset-y-0 right-0 mr-3 text-sm leading-5"
            >
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>
            @if(resetPwdForm.get('password')?.hasError('required')){
            <mat-error> Password is required. </mat-error>
            } @if(resetPwdForm.get('password')?.hasError('minlength')){
            <mat-error> Password should be at least 8 characters. </mat-error>
            }
          </div>

          <div class="relative">
            <input
              placeholder="Re-enter Password"
              [type]="hidePassword ? 'password' : 'text'"
              class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-accent"
            />
            <div
              class="flex items-center absolute inset-y-0 right-0 mr-3 text-sm leading-5"
            >
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>
            @if(controlHasError('password', 'required')){
            <mat-error> Password is required. </mat-error>
            } @if(controlHasError('password', 'minlength')){
            <mat-error> Password should be at least 8 characters. </mat-error>
            }
          </div>

          <div class="flex items-center justify-between">
            <div class="text-sm ml-auto">
              <a
                routerLink="forgot-password"
                class="text-accent-dark hover:text-accent-light"
              >
                Forgot your password?
              </a>
            </div>
          </div>
          @if(errorMessage$ | async){
          <h5 class="badge bg-danger mx-auto">
            {{ errorMessage$ | async }}
          </h5>
          }
          <div>
            <button
              type="submit"
              [disabled]="!resetPwdForm.valid"
              [innerText]="(IsLoading$ | async) ? 'Login In...' : 'Sign In'"
              class="w-full flex justify-center bg-accent-dark hover:bg-accent text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <svg
      class="absolute bottom-0 left-0"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
      ></path>
    </svg>
  </div>
</div>
