<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="container">
    <h2>Learn from the Best to Be the Best.</h2>
    <p>
      Our trainers, with years of industry experience, are dedicated to
      imparting real-world knowledge, ensuring you're job-ready from day one.
    </p>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
  <div class="container" data-aos="fade-up">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-1.jpg"
            class="img-fluid"
            alt="walter-white"
          />
          <div class="member-content">
            <h4>Walter White</h4>
            <span>Web Development</span>
            <p>Expert in Web Development with 10 years at Google.</p>
            <div class="social">
              <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-2.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-content">
            <h4>Jane Smith</h4>
            <span>Data Scientist</span>
            <p>Data Scientist who has spearheaded projects at IBM.</p>
            <div class="social">
              <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-3.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-content">
            <h4>William Anderson</h4>
            <span>Dotnet Software engineer at Microsoft</span>
            <p>
              William has 5 years of expirience mentoring and creating
              exceptional dotnet courses and also developing highly scalable and
              performant softwares at Microsft and other companies.
            </p>
            <div class="social">
              <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Trainers Section -->
