<section>
  <div class="container">
    <div class="text">
      <h1>Page Not Found</h1>
      <p>
        We can't seem to find the page you're looking for. Please check the URL
        for any typos.
      </p>
      <div class="input-box">
        <input
          #inputBox
          id="input-box"
          [(ngModel)]="input"
          (keyup)="onKeyUp()"
          type="text"
          placeholder="Search..."
        />
        <button><i class="bi bi-search"></i></button>
      </div>
      <div *ngIf="filteredLinks.length" class="result-box" #resultsBox>
        <ul>
          @for(link of filteredLinks; track link.id){
          <li>
            <a [href]="link.href">{{ link.text }}</a>
          </li>
          }
        </ul>
      </div>

      <ul class="menu">
        <li><a routerLink="/">Go to Homepage</a></li>
        <li><a routerLink="/blog">Visit our Blog</a></li>
        <li><a routerLink="/contact">Contact Me</a></li>
      </ul>
    </div>
    <div>
      <img
        class="image"
        ngSrc="https://omjsblog.files.wordpress.com/2023/07/errorimg.png"
        alt="..."
        loading="lazy"
        height="300"
        width="200"
      />
    </div>
  </div>
</section>
